{% extends 'parser/base.html' %}
{% block title %} Content Editor {% endblock %}
{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-7 mt-4">
        <div class="card">
            <h1 class="card-header text-center display-5">Parsed Document</h1>
            <div class="card-body">
                {% for list in text %} 
                    <div class="card m-3">
                        <div class="card-header">
                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter0}}">
                                Expand element 
                            </button>
                        </div>
                        <div id="collapse-{{ forloop.counter0 }}" class="collapse show">
                            <div class="card-body">
                                <h5>
                                    Text element
                                </h5>
                                    <!-- Add the <select> element here -->
                                <select class="form-select form-select-sm mb-2" name="element-{{ forloop.counter0 }}">
                                    {% for option in options %}
                                        <option value="{{ option }}" {% if option == list.0 %}selected{% endif %}>{{ option }}</option>
                                    {% endfor %}
                                </select>
                                <h5>
                                    Text 
                                </h5>
                                <form> 
                                    <!-- this secures the form from malicious attacks during submission -->
                                    {% csrf_token %}
                                    <textarea rows="5" cols="10" class="form-control mb-2" required type="text" autofocus="autofocus" name="prompt" value="{{ list.1 }}" data-form-id="{{ forloop.counter0 }}" id="">{{ list.1 }}</textarea>
                                    <button class="btn btn-secondary fw-bold" name="regenerate_btn" value="{{ forloop.counter0 }}" type="button">
                                        REGENERATE
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <a href="{% url 'upload' %}" class="btn btn-outline-secondary">Back</a>
                <button id="saveButton" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
  </div>
</div>
<script>

  function saveTextFromTextareas() {
    const textareas = document.querySelectorAll("textarea[name='prompt']");
    const texts = [];

    textareas.forEach((textarea) => {
      texts.push(textarea.value);
    });

    // Call your function with the texts array
    yourFunction(texts);
  }

  $(document).ready(function() {
    $("button[name='regenerate_btn']").on("click", function(event) {
      event.preventDefault();
      const formId = $(this).val();
      const textInput = $(`textarea[data-form-id="${formId}"]`).val();
      const selectedOption = $(`select[name="element-${formId}"]`).val();
      const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
      $.ajax({
        url: "api/call_openai/",
        method: "POST",
        data: {
          form_id: formId,
          text_input: textInput,
          selected_option: selectedOption,
          csrfmiddlewaretoken: csrfToken,
        },
        success: function(response) {
          $(`textarea[data-form-id="${formId}"]`).val(response.new_text);
        },
        error: function(xhr, textStatus, errorThrown) {
          console.error("Error:", errorThrown);
        },
      });
    });
  });
</script>
{% endblock %}
