{% extends 'parser/base.html' %}
{% block title %} Upload {% endblock %}
{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-7 mt-4">
        <div class="card">
            <h1 class="card-header text-center display-5">Document Upload</h1>
            <div class="card-body">
                <form method="POST" class="post-form" enctype="multipart/form-data">  
                  {% csrf_token %}  
                  {{ form.as_p }}  
                  <button type="submit" class="btn btn-outline-primary fw-bold" name="parse_document">Parse Document</button>  
                </form>  
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
